<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title> Parking Tickets</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
        <!--<link rel=stylesheet type=text/css href='/static/style.css'>-->
    </head>
    <body>
        <div class=page>
            <h3 style="text-align: center;">
                <span style="color: #134285;">Parking Safer in New York!</span>
            </h3>
            <div class=metanav>
                <h4></h4>
                <p align = "center">   
                <div class="fieldWrap clearfix">
                    <form id='input' method='post' action='index'>
                        Location: <input type='text' name='location' 
                        placeholder="Type an address" />
                        <select class="field select-field" name="daytime" id="daytime">
                        <option value="daytime" selected="">Time</option>
                        <option value="Morning">Morning: before 11am</option>
                        <option value="Noon">Noon: 11am-2pm</option>
                        <option value="Afternoon">Afternoon: 2pm-6pm</option>
                        <option value="Evening">Evening: after 6pm</option>
                        </select>
                        <button type="submit" class="btn btn-primary" value="Submit">Find Parking</button>
                    </form>
                </div>
                </p>
            </div>
            <p align="left"><a href=Explore_more ><button class=grey style="height:40px;width:100px">Explore more</button></a></p>
            <div class="col-md-4 col-lg-offset-4">
                <p align = "center">               
                    <div class="chart" id="bargraph">
                        <script>
                            var graphs = {{plot | safe}};
                        </script>
                    </div>
                </p> 
                </div>
        </div>
    </body>

</html>
