<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title> Parking Tickets</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
        <!--<link rel=stylesheet type=text/css href='/static/style.css'>-->
    </head>
    <body>
        
        <div class="wpb_wrapper">
            <h3 style="text-align: center;">
                <span style="color: #134285;">Parking Safer in New York!</span>
            </h3>
        </div>
        <div class=app-container align="center">
            <div class="fieldWrap clearfix">
                <form id='input' method='post' action='index'>
                    <input class = 'field input-field' type='text' name='location' value="{{location}}" placeholder="Type an address"  />
                    <select class="field select-field" name="daytime" id="daytime">
                    <option value="daytime" {% if daytime == "daytime"%} selected {% endif %}>Select Parking Time</option>
                    <option value="Morning"{% if daytime == "Morning"%} selected {% endif %}>Morning: before 11am</option>
                    <option value="Noon"{% if daytime == "Noon"%} selected {% endif %}>Noon: 11am-2pm</option>
                    <option value="Afternoon"{% if daytime == "Afternoon"%} selected {% endif %}>Afternoon: 2pm-6pm</option>
                    <option value="Evening"{% if daytime == "Evening"%} selected {% endif %}>Evening: after 6pm</option>
                    </select>

                    <select class="field select-field" name="weekday" id="weekday">
                    <option value=-1 {% if weekday == -1%} selected {% endif %}>Pick a Day</option>
                    <option value=0 {% if weekday == '0'%} selected {% endif %}>{{date_list[0]}}</option>
                    <option value=1 {% if weekday == '1'%} selected {% endif %}>{{date_list[1]}}</option>
                    <option value=2 {% if weekday == '2'%} selected {% endif %}>{{date_list[2]}}</option>
                    <option value=3 {% if weekday == '3'%} selected {% endif %}>{{date_list[3]}}</option>
                    <option value=4 {% if weekday == '4'%} selected {% endif %}>{{date_list[4]}}</option>
                    <option value=5 {% if weekday == '5'%} selected {% endif %}>{{date_list[5]}}</option>
                    <option value=6 {% if weekday == '6'%} selected {% endif %}>{{date_list[6]}}</option>
                   </select>
                    <button type="submit" class="btn btn-primary" value="Submit">Find Parking</button>
                </form>
            </div>

            <p align ="center">
                <div class="graph">
                    <p align = "right">               
                        <div class="chart" id="bargraph">
                            <script>
                                var graphs = {{plot | safe}}
                            </script>
                        </div>
                    </div>
            </p>
        </div>
        

    </body>

</html>
