<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="Ahmedur Rahman Shovon">
    <title>Features</title>
</head>
<body>
  <p>Select a new car from the list.</p>
  <form id="form1" action="/Explore_more" method="POST" enctype="multipart/form-data">
    <select id="mySelect" name = "DoW">
      <option value="All">All</option>
      <option value="Mon">Mon</option>
      <option value="Tue">Tue</option>
      <option value="Wed">Wed</option>
      <option value="Thu">Thu</option>
      <option value="Fri">Fri</option>
      <option value="Sat">Sat</option>
      <option value="Sun">Sun</option>
    </select>
    <input type="submit" class="btn btn-primary" value="Submit">
    </form>
    <div id="result">
    {% if week_day is defined %}
        {{ week_day }}
    {% endif %}
    </div>
    <p align="left"><a href=index ><button class=grey style="height:40px;width:100px">Return Home</button></a></p>
  <div class="col-md-4 col-lg-offset-4">
        <p align = "center">               
            <div class="chart" id="bargraph">
                <script>
                    var graphs = {{plot | safe}};
                </script>
            </div>
        </p> 
        </div>
</body>

</html>
